@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Hind Siliguri', sans-serif;
  text-transform: capitalize;
}
h1{
  font-family: 'Bebas Neue', cursive;
  color: #ff0000;
}
.cont {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.left {
  flex: 0.9;
}

.infocont {
  display: flex;
  justify-content: space-between;
}
.formcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.table{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table::-webkit-scrollbar{
  display: none;
}
.table td{
  padding: 0.5rem;
}
.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}
.infocard {
  padding: 0.5rem;
}
.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: lightgreen !important;
}
.cases{
  margin: 1rem 0;
}
.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
.cardright {
  display: flex;
  flex-direction: column;
}

.cardright .MuiPaper-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph{
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  .cont {
   flex-direction: column;
  }
}